<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilinz.imagepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">
        <activity
            android:name=".ImagePreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.ImagePicker"/>
        <activity
            android:name=".ImagePickerActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ImagePicker" />
    </application>

</manifest>